

@tailwind base;
@tailwind components;
@tailwind utilities;
.contact-item {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .contact-item:hover {
   
    transform: translateY(-5px);
  }
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-up {
    animation: slide-up 1s ease-out;
  }
  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
